@page 
@using CarRentalApp.Models 
@model IndexModel 
@{ ViewData["Title"] = "Home"; }
    <section class="home" >
      <h1 class="heading-primary">Car Rent</h1>
    <div class="car-list">
        @foreach (var car in Model.Cars) 
        {
        <div class="card">
          <a href="/RentApp/CarDetails?id=@car.Id" class="car-img-wrapper">
            <img
              src="@car.ImageUrl"
              class="car-img"
              alt="@car.Make  @car.Model"
              height="350"
              width="350"
            />
          </a>
          <div class="car-card-body">
            <p class="car-name">@car.Make @car.Model</p>
            <p class="car-year">@car.Year year</p>
          </div>
        </div>
        }
      </div>
    </section>
